<div class="row center-block">
    <form ng-submit="lg.submit()" class="col-xs-12">
        <div class="form-group">
            <input type="text" ng-class="{'error': lg.denied }" class="form-control center-block" id="loginInput"
                   placeholder="Login"
                   ng-model="lg.login" ng-click="lg.denied=false">
        </div>
        <div class="form-group">
            <input type="password" class="form-control center-block" id="passwordInput" placeholder="Password"
                   ng-model="lg.password">
        </div>
        <loading-button
                is-loading='lg.isLoading'
                is-banned='lg.isBanned'
                button-text='"Login &#8594"'>
        </loading-button>
    </form>
</div>
