.body {
    font-family: Arial, sans-serif;

}

.wrapper {
    background-color: white;
    background-repeat: no-repeat;
    min-width: 320px;
}


.glyphicon-ok {
    color: rgb(92, 184, 92);
    font-size: 2.5em;
    vertical-align: middle;
    padding-right: .35em;
}

.glyphicon-fire {
    color: rgb(240, 173, 78);
    font-size: 2.5em;
    vertical-align: middle;
}


.action {
    margin-top: 1.8em;
    margin-bottom: 2.25em;
    text-align: center;
    margin-left: -1.35em;
}

.action .title {
    display: inline-block;
    font-size: 1.5em;
    vertical-align: middle;
}

input {
    margin-bottom: 18px;
}

.form-control {
    width: 186px;
    padding: 8px 8px 2px 7px;
    font-size: .7em;
    border-radius: .5em;

}

.error {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.btn-wrapper {
    margin: 0 auto;
    align-content: center;
}

.btn {
    border-radius: 2.125em;
    height: 2.5em;
    min-width: 6.4em;
    padding-left: 1.25em;
    padding-right: 1.25em;
    color: rgb(66,139,202);
    margin-bottom: 20px;
}
.gly-spin{
    font-size: 1.5em;
}

.info{
    text-align: center;
    margin-top: 0.35em;
    font-size: .9em;
    margin-bottom: .2em;
}