.body {
    font-family: Arial, sans-serif;
}

.wrapper {
    background-color: white;
    /*  background-image: url(../img/LoginPage.png); */
    margin-left: -1px;
}

.row {
}

.glyphicon-ok {
    color: rgb(92, 184, 92);
    font-size: 2.5em;
    vertical-align: middle;
}

.glyphicon-fire {
    color: rgb(240, 173, 78);
    font-size: 2.5em;
    vertical-align: middle;
}

.glyphicon-arrow-right {
    font-size: .75em;
}

.action {
    margin-top: 1.85em;
    margin-bottom: 31px;
    text-align: center;
    margin-left: -20px;
}

.action .title {
    display: inline-block;
    font-size: 1.5em;
    vertical-align: middle;
}

input {
    margin-bottom: 18px;
}

.form-control {
    width: 186px;
    padding: 8px 8px 2px 7px;
    font-size: .7em;
    border-radius: .5em;

}

.error {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.btn-wrapper {
    margin: 0 auto;
    align-content: center;
}

.btn {
    padding: 7px 8px 5px 0;
    border-radius: 2.125em;
    width: 6.4em;
    color: #23527c;
    margin-bottom: 20px;
}
